<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Personalized Search</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/my.css">

    <!--link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css"-->
    <!--link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"-->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"> -->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-extras.js"></script>

    
  </head>
    <body>
      <div class="container">
        
  <body style="background-color:#ffcf83;">

<section class="header">
<div class="row">
<div class="col-sm-1">
  <img src="static/images/detective.png" alt="Detective" style="width:60px;height:103.5px;">
</div>
<div class="col-sm-3">
 <h2 class="title">
Mokse<br>
</h2>
<p>
<font color=#0f0f0f> My Own Knowledge Search Engine</font>
  </p>
</div>
</div>
  </section>
  <hr />

   <div class="content">
    <form method="POST">
      <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="1466613972##c5205b448c406c30ff4ab760f141390c53d48f64"></div>
      <div class="row">
	<div class="col-sm-4">
	  <label for="search_query">Search Query:</label> <input id="search_query" name="search_query" size="30" type="text" value="">
	</div>  
	<div class="col-sm-1">
	  <button type="submit" class="btn-primary" name="search">Search</button>
	</div>
	<div class="col-sm-1">
	  <button type="submit" class="btn-primary" name="add">Add</button>
	</div>
	<div class="col-sm-1">
	  <button type="submit" class="highlighter" name="highlight" >OFF</button>
	</div>
      </div>
      </form>
      <div class="row">
	<div class="col-sm-4">
	<b>Title:
	<font color="darkblue">
	
	<red><b>No search result</b></red>  
	
	</font></b>
	</div>
	<div class="col-sm-5">
	<b>Score:</b>
	<font color="darkblue">
	
	
	</font>
	</div>
	
      </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
	<b>Question:</b>
	<div id='question_box'>
          
          
	</div>
	</div>
        <div class="col-sm-5">
	  <b>Answer:</b>
	<div id='answer_box'>
          
	  
	</div>
	</div>
	<div class="row">
	<div class="col-sm-3">
	<b><u>Results List</u>
	<br>  
	<font color="darkblue">
	<form method="POST">
        <button type="submit" class="my_button text-left" name='0'>
	
	
	</button>

	<button type="submit" class="my_button text-left" name='1'>
	
	
	</button>
	  
        <button type="submit" class="my_button text-left" name='2'>
	
	
	</button>

	<button type="submit" class="my_button text-left" name='3'>
	
	
	</button>

	<button type="submit" class="my_button text-left" name='4'>
	
	
	</button>

	<button type="submit" class="my_button text-left" name='5'>
	
	
	</button>
        </form>
	</font></b>
	</div>

	</div>

	
	</div>

      </div>
      
  <script type="text/javascript">

  </script>

    </body>
</html>
